<h1>Listing messages</h1>

<table>
  <tr>
    <th>Message</th>
    <th>Blocking client</th>
    <th>Message text</th>
    <th>Unread</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.message_id %></td>
    <td><%= message.blocking_client_id %></td>
    <td><%= message.message_text %></td>
    <td><%= message.unread %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
